.input
{
    outline: none;
    border-color: transparent;
}
.mat-button {
    outline: none;
    border-color: transparent;
}
.img1{
    background-color: gray;
}
.width{
    width: 38vw;
}
.mat-divider{
    width: 36vw
}
.margin{
    margin-left: 330px
}
.left{
    margin-left: 139px;
}

.text{
    font-family: arial, sans-serif;
    size: 18px;
    font-weight: bold;
    color: #202124;
}
.mat-mini-fab{
    outline:none;
    border-color: transparent;
}
